{% extends "base.html" %}

{% block title %}Apps – {{ super() }}{% endblock %}

{% block container %}
{% block header %}{% endblock %}
<div class="ui grid">
  <div class="row">

    <div class="four wide column">
      <div class="ui secondary vertical menu">
        <a class="active item" href="/">News Feed</a>
        <a class="item" href="/submit">Submit</a>
      </div>
    </div>

    <div class="twelve wide column">
      {% block content %}
      <div class="ui feed">
        {% for post in posts %}
        <div class="event">
          <div class="label">
            <i class="user icon"></i>
          </div>
          <div class="content">
            <div class="summary">
              {{ post.user }} shared a link
              <div class="date">{{ post.submitted }}</div>
            </div>
            <div class="extra text"><a href="{{ post.link }}">{{ post.title }}</a></div>
            <div class="meta">
              <a class="like"><i class="like icon"></i> {{ [1,2,3,4,5,6,7,8,9] | random }} Likes</a>
            </div>
          </div>
        </div>
        {% else %}
        Sorry, there are no posts yet!
        {% endfor %}
      </div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<!--<script src="/static/js/api/profile.js"></script>-->
{% endblock %}
